 * {
  box-sizing: border-box;
}

header {
  background-color: gray;
  text-decoration-color: antiquewhites;
  
}
h3 {
  font-family: 'Fira Sans', sans-serif;
}

p {
  font-family: Georgia, 'Times New Roman', Times, serif;
}

main {
  background-color: bisque;
  width: 960px;
  margin: 30px auto 0;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: flex-start;
}
footer {
  background-color: lightcyan;
  height: 50px;
}

main img {
  margin-bottom: 30px;
}

article {
  width: 450px;
}

article section {
  height: 320px;
  overflow: auto;
}

ul { 
display: flex;
color: #000;
padding: 0px;
margin: 0px;
justify-content: center;
height: 70px;
overflow: hidden; 
list-style-type: none;
}

nav {
  display: flex;
  width: 960px;
  margin: auto;
}

footer {
  border-top: 20px;
}

a {
  color: azure;
}

header div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 960px;
  margin: auto;
  padding-bottom: none;
}

li{
  float: left;
  width: 200px;

}

li a {
  display:block;
  text-decoration: none;
  text-align: center;
  padding-top: 30%;
}

a img {
  float: center;
}




